body{
    background-image: url(https://img.freepik.com/free-photo/truck-with-white-trailer-that-says-scania-side_123827-23486.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; 
}
h1
{
    text-align: center;
    color: white;
}
.headline
{
    background-color: transparent;
}
.main
{
    background-color: transparent;
}
.main a {
    color: #ebdede; 
    margin-right: 50px;
    text-align: center;
    
  }
  
  .main a:hover {
    color: #b41010; 
  }
.main{
    text-align: center;
}
.loginbutton {
    margin-left: 70pc;
}
.loginbutton:hover {
    background-color: #0056b3; 
}
